<div class="cta-section image-bg">
  <div class="call-to-action text-left">
    <div class="container">
      <div class="brand-info">
        <h3>Vous recherchez de la qualité dans vos projets ?</h3>
        <a href="#" class="btn btn-primary">Contactez-Nous !</a>
      </div>
    </div>
  </div>
</div><!-- clients-section -->

<footer class="footer">
  <div class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="contact-widget">
            <%= image_tag("logo2.png",  alt: "logo", class: "img-responsive") %>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="contact-widget">
            <h3>Horaires</h3>
            <p>Notre support client est disponible pour vous aider :</p>
            <p>Lundi - Vendredi de 08h30 à 17h30</p>
            <p>Samedi de 09h00 à 14h00</p>
            <p>Dimanche - <span> Fermé </span></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="contact-widget">
            <h3>Liens Rapides</h3>
            <ul>
              <li><a href="#">News</a></li>
              <li><a href="#">Projets</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">À Propos</a></li>
            </ul>
            <ul>
              <li><a href="#">Qui Sommes Nous</a></li>
              <li><a href="#">Contactez Nous</a></li>
              <li><a href="#">Emplois</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="contact-widget">
            <h3>Nos Bureaux</h3>
            <address>
              <ul>
                <li><span class="address">Adresse :</span>Rue N2 - Odza (Mbog-Abang).<br>BP. 1452,
                  Yaoundé - Cameroun.</li>
                <li><span>Tél: </span>+237 243-434-567</li>
                <li><span>E-mail: </span><a href="#">hello@groupeoberlin.com</a></li>
              </ul>
            </address>
            <ul class="footer-social list-inline">
              <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div><!-- row -->

    </div><!-- container -->
  </div><!-- contact informetion -->

  <div class="footer-bottom">
    <div class="container">
      <div class="copyright-text text-center">
        <p>&copy; Groupe OBERLIN 2017 | Design et Développé par <a href="http://bhent.xyz/" target="_blank">Bhent</a></p>
      </div>
    </div>
  </div><!-- footer bottom -->
</footer><!-- footer -->