<div class="cta-section image-bg">
  <div class="call-to-action text-left">
    <div class="container">
      <div class="brand-info">
        <h3>Vous recherchez de la qualité dans vos projets ?</h3>
        <a href="/contact" class="btn btn-primary">Contactez-Nous !</a>
      </div>
    </div>
  </div>
</div><!-- clients-section -->