<% title "Transit" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin Transit</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin Transit</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("transit/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details-info">
          <h2>Votre Assistant import-export</h2>
          <p>
            Le rôle d’OBERLIN TRANSIT, votre assistant import-export privilégié est de gérer vos opérations administratives et
            logistiques d’import-export, de votre entreprise depuis la commande jusqu’à la livraison et au paiement.
            Nous assurons aussi la gestion des relations entre les différents partenaires de la transaction commerciale.
          </p>
          <h2>Activités</h2>
          <p>
            OBERLIN TRANSIT assure les opérations de gestion logistiques et administratives dès lors qu’une commande est
            passée et ce jusqu’à sa livraison et son paiement. Nous participons à la constitution des dossiers en effectuant
            les opérations d’enregistrements, en élaborant les documents douaniers et en établissant les formulaires règlementaires.
            Véritable interface entre les services internes de l’entreprise et les partenaires, Nous coordonnons
            les différentes actions à mener. OBERLIN TRANSIT réalise ses missions avec des partenaires basés sur tous les continents.
          </p>
          <h2>Entreprises et cadre d’invention</h2>
          <p>
            Ont généralement recours à nos services, les PME-PMI et des grandes entreprises industrielles ou commerciales
            de tout secteur d’activité.
          </p>
          <h2>Environnement relationnel</h2>
          <p>
            OBERLIN TRANSIT est en contact avec de multiples interlocuteurs. Au sein des entreprises clientes,
            nous communiquons avec la direction générale et la direction de la logistique, des approvisionnements
            ou des équipements et nous coordonnons les actions entre l’entreprise et les partenaires extérieurs.
            Nous sommes l’interlocuteur direct de différents intervenants : clients, compagnies d’assurances, douanes ...
          </p>
          <h2>Qualités majeures</h2>
          <p>
            OBERLIN TRANSIT s’appuie sur un staff organisé et polyvalent. Notre rapidité d’adaptation nous permet
            de gérer les nombreux aléas qui surviennent régulièrement dans les opérations d’import-export.
          </p>
          <p>
            Dotés d’un bon relationnel et diplomates, nous aimons être confrontés à de multiples cultures.
            Notre persévérance et notre tempérament de bons négociateurs sont autant d’atouts pour la progression de notre performance.
          </p>
          <p>
            La pratique courante de l’anglais, de l’allemand et du français est un de nos atouts majeurs.
            Les séjours prolongés de nos collaborateurs à l’étranger y ont contribué. Polyvalents,
            nous gérons avec autant d’aisance les aspects relationnels de notre travail que les aspects administratifs.
          </p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->


<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>