<%=provide(:title, 'Comments') %>
<%= render "admin/users/shared/admin_header_links" %>
<div class="section-title text-center">
      <div class="container">
        <h1>People Comments</h1>
        <h2></h2>
      </div>
    </div>

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>